<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#reactFormModal">
 Form react
</button>

<!-- Modal -->
<div class="modal fade" id="reactFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerForm" (ngSubmit)="save()" autocomplete="off" novalidate>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" formControlName="email" name="email"  id="email" aria-describedby="emailHelp">
              <div  class="form-text" style="color: red">
                 <p *ngIf="customerForm.controls.email.hasError('required') && (customerForm.controls.email.touched)"> Input Email Something </p>
                 <p *ngIf="customerForm.controls.email.touched && customerForm.controls.email.hasError('pattern') ">  Input Email Not Correct Style </p>
              </div>
            </div>
          <fieldset formGroupName="formPassword">
            <div class="mb-3 form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" name="password">
              <div  class="form-text" style="color: red" *ngIf="!password.valid && (password.dirty || password.touched)">
                 <div [hidden]="!password.errors.required">
                  Input password!!!
                </div>
                <div [hidden]="!password.errors.minlength">
                  Min length is 6 digits
                </div>
               </div>
            </div>
          <div class="mb-3 form-group">
              <label for="passwordConfirm" class="form-label">Password Confirm</label>
              <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm"  name="passwordConfirm">
            <div  class="form-text" style="color: red">
              <p *ngIf="customerForm.controls.formPassword.hasError('passNotMatch')"> Input Password Confirm Not Correct Password </p>
            </div>
          </div>
          </fieldset>
          <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input formControlName="age" type="number" name="age"  class="form-control" id="age">
            <div  class="form-text" style="color: red">
              <p *ngIf="customerForm.controls.age.hasError('required') && (customerForm.controls.age.touched) "> Input Age Something </p>
              <p *ngIf="customerForm.controls.age.touched && customerForm.controls.age.hasError('min') ">Age bigger Zero </p>
            </div>
          </div>
          <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <select formControlName="country" name="country" class="form-control" id="country">
                <option value="">Chose something</option>
                <option *ngFor="let item of countryList" value="{{item}}">{{item}}</option>
              </select>
            <div  class="form-text" style="color: red">
              <p *ngIf="(customerForm.controls.country.touched) && customerForm.controls.country.hasError('required')  ">  Input Country Something </p>
            </div>
          </div>
            <div class="mb-3">
              <label class="form-label">Gender</label>
              <input type="radio" value="0" formControlName="gender" name="gender" > Male
              <input type="radio" value="1" formControlName="gender" name="gender" > Female
              <input type="radio" value="2" formControlName="gender" name="gender" > Other
              <div  class="form-text" style="color: red">
                <p *ngIf="(customerForm.controls.gender.touched) && customerForm.controls.gender.hasError('required') ">Input Gender Something </p>
               </div>
            </div>
          <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input  class="form-control" id="phone" formControlName="phone" type="text" name="phone" >
            <div  class="form-text" style="color: red">
              <p *ngIf="(customerForm.controls.phone.touched) && customerForm.controls.phone.hasError('required') ">Input Phone Something </p>
              <p *ngIf=" customerForm.controls.phone.touched && customerForm.controls.phone.hasError('pattern') ">Input Phone Wrong Type</p>
             </div>
          </div>
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
