<div class="container"
     style="background: url('../../../assets/image-form/grandmercure-danang-hotel-gallery-image-64.jpg') ">
  <div class="row">
    <div class="col-2">
      <app-customer-create></app-customer-create>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" *ngFor="let item of customerList ">
      <div class="card" style="width: 18rem;">
        <img [src]="item.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name|titlecase}}</h5>
          <p class="card-text">{{item.description === undefined? 'You can update soon!' : (item.description| slice:0:25).concat("...") }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: {{item.name | titlecase}}</li>
          <li class="list-group-item">Address: {{item.address | titlecase}}</li>
          <li class="list-group-item">Phone: {{item.phone| titlecase}}</li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#countdownModal"
                  (click)="changeValueItemSelect(item)">
            Info
          </button>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal"
                  (click)="changeValueItemSelect(item)">
            Edit
          </button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="changeValueItemSelect(item)">
            Delete
          </button>
          <app-customer-edit [customerEdit] = customerSelect></app-customer-edit>

          <app-customer-info [customer]="customerSelect"></app-customer-info>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete this {{customerSelect.name}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteById(customerSelect.id)">Save changes</button>
      </div>
    </div>
  </div>
</div>
