<div class="container"
     style="background: url('../../../assets/image-form/grandmercure-danang-hotel-gallery-image-64.jpg') ">
  <div class="row">
    <div class="col-2">
      <app-customer-create></app-customer-create>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" *ngFor="let item of customerList| slice: (page-1) * pageSize : page * pageSize ">
      <div class="card" style="width: 18rem;">
        <img [src]="item.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name|titlecase}}</h5>
          <p class="card-text">{{item.description === undefined? 'You can update soon!' : (item.description| slice:0:25).concat("...") }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: {{item.name | titlecase}}</li>
          <li class="list-group-item">Address: {{item.address | titlecase}}</li>
          <li class="list-group-item">Phone: {{item.phone| titlecase}}</li>
<!--          <li class="list-group-item">Type Customer:-->
<!--            <span *ngFor="let check of typeList">{{check.id == item.typeCustomer ? check.name : ''}}</span>-->
<!--          </li>-->
          <li class="list-group-item">Type Customer:  
            <ng-container *ngFor="let check of typeList">
              <span *ngIf="check.id == item.typeCustomer">{{check.name}}</span>
            </ng-container>
          </li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#countdownModal"
                  (click)="changeValueItemSelect(item)">
            Info
          </button>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal"
                  (click)="editItemChoice(item)">
            Edit
          </button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="changeValueItemSelect(item)">
            Delete
          </button>

          <app-customer-info [customer]="customerSelect"></app-customer-info>
        </div>
      </div>
    </div>



  </div>
  <ngb-pagination
    [collectionSize]="customerList.length"
    [pageSize]="pageSize"
    [(page)]="page"
    [boundaryLinks]="true">
  </ngb-pagination>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete this {{customerSelect.name}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteById(customerSelect.id)">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal Edit {{this.customerEdit.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formEdit" novalidate autocomplete="off" (ngSubmit)="saveEdit()">
          <input hidden formControl="id" name="id" id="id">

          <div class="form-outline mb-4">
            <input type="text" id="name" name="name" formControlName="name"
                   class="form-control form-control-lg"/>
            <label class="form-label">Name</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="address" name="address" formControlName="address"
                   class="form-control form-control-lg"/>
            <label class="form-label">Address</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="phone" name="phone" formControlName="phone"
                   class="form-control form-control-lg"/>
            <label class="form-label">Phone</label>
          </div>

          <div class="form-outline mb-4">
            <input type="date" id="dayOfBirth" name="dayOfBirth" formControlName="dayOfBirth"
                   class="form-control form-control-lg"/>
            <label class="form-label">Birthday</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="email" name="email" formControlName="email"
                   class="form-control form-control-lg"/>
            <label class="form-label">Email</label>
          </div>
          <div class="form-outline mb-4">
            <select name="typeCustomer" formControlName="typeCustomer">
              <option value="">Select Option</option>
              <option *ngFor="let item of typeList" value="{{item.id}}">{{item.name}}</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="description" name="description" formControlName="description"
                   class="form-control form-control-lg"/>
            <label class="form-label">Description</label>
          </div>
          <div class="form-outline mb-4">
            <img src="{{this.customerEdit.avatar}}" alt="">
          </div>

          <div class="form-outline mb-4">
            <input type="file" id="avatar" name="avatar" formControlName="avatar" class="form-control form-control-lg"
                   readonly/>
            <label class="form-label">Avatar</label>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetEdit()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="formEdit.invalid">Save</button>
          </div>
        </form>

      </div>


    </div>
  </div>
</div>
