<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#pickColor">
  Color
</button>

<!-- Modal -->
<div class="modal fade" id="pickColor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Color Pick</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger" (click)="changeColor('red')">Red</button>
        <button class="btn btn-primary" (click)="changeColor('blue')">Blue</button>
        <button class="btn btn-dark" (click)="changeColor('black')"> Black</button>
        <button class="btn btn-warning" (click)="changeColor('yellow')">Yellow</button>
        <div [style.background-color]='backgroundNew'>
          <p [style.color]='colorNew'>result</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
