<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Calculator
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calculator</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input name="number1" type="number" placeholder="input something" [(ngModel)]="number1" required>
        <p>{{error1}}</p>
        <input name="number2" type="number" placeholder="input something" [(ngModel)]="number2" required>
        <p>{{error2}}</p>
        <br>
        <button class="btn btn-danger" (click)="calculator('+')">+</button>
        <button class="btn btn-warning" (click)="calculator('-')">-</button>
        <button class="btn btn-info" (click)="calculator('*')">*</button>
        <button class="btn btn-primary" (click)="calculator('/')">/</button>
        <br>
        <p>Result {{number3}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
