<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Arrays in Thymeleaf</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<form action="/translate">
    <h1>
        Translate
    </h1>
    <label>
        <input type="text" name="text" placeholder="text translate" th:value="${text}" >
    </label>
    <button type="submit">Translate</button>
</form>

<div th:text="${result}"></div>
<!--<th:block th:each="userId: ${userIds}">-->
<!--    <a th:href="@{/(id=${userId})}"> User [[${userId}]]</a> <br/>-->
<!--</th:block>-->
</body>
</html>