<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card bg-dark text-white">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/image-form/ban_dao_son_tra.jpg" /></div>
            <div class="carousel-item">
              <img src="../../../assets/image-form/ca_chep_hoa_rong.jpg" /></div>
            <div class="carousel-item">
              <img src="../../../assets/facility/Presidental_Suite_2.jpg" />
            </div>
            <div class="carousel-item">

              <img src="../../../assets/image-form/hinh-anh-thanh-pho-da-nang-buoi-toi.jpg" /></div>
            <div class="carousel-item">

              <img src="../../../assets/image-form/hinh-anh-thanh-pho-da-nang-cau-thuan-phuoc-da-nang.jpg"  /></div>
            <div class="carousel-item">

              <img src="../../../assets/image-form/hinh-anh-thanh-pho-da-nang-phao-hoa-diff.jpg"  /></div>
            <div class="carousel-item">
              <img src="../../../assets/image-form/vooc.jpg"  /></div>
            <div class="carousel-item">
              <img src="../../../assets/image-form/281497_17051021190052892693.jpg" /></div>
            <div class="carousel-item">
              <img src="../../../assets/image-form/swimming-pool-khach-san-grand-mercure-danang-fantasticity-com-02.jpg"
                  /></div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



