<html xmlns:th="http://www.thymeleaf.org" lang="eu">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
<section class="vh-100 bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create a Produce</h2>
                            <div class="form-outline mb-4" th:if="${message}">
                                <p th:text="${message}"></p>
                            </div>
                            <form th:action="@{/update-produce}" th:object="${produce}" method="post">
                                <div class="form-outline mb-4">
                                    <input type="number" th:field="*{id}" id="form3Example1cg"
                                           class="form-control form-control-lg" readonly required/>
                                    <label class="form-label" for="form3Example1cg">ID</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{name}" id="form3Example3cg"
                                           class="form-control form-control-lg" required/>
                                    <label class="form-label" for="form3Example3cg">Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="date" th:field="*{dateToUse}" id="form3Example4cg"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="form3Example4cg">Date To Use</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{nation}" id="form3Example5cdg"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="form3Example5cdg">Nation</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{color}" id="form3Example6cdg"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="form3Example6cdg">Color</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="file" th:field="*{avatar}" id="form3Example7cdg"
                                           class="form-control form-control-lg" readonly/>
                                    <label class="form-label" for="form3Example7cdg">Avatar</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Promote</label>
                                    <th:block th:if="*{promote}">
                                        <input th:field="*{promote}" class="form-check-input me-2" type="radio"
                                               name="promote" th:value="1" checked/>Yes
                                        <input th:field="*{promote}" class="form-check-input me-2" type="radio"
                                               name="promote" th:value="0"/>No
                                    </th:block>
                                    <th:block th:unless="*{promote}">
                                        <input th:field="*{promote}" class="form-check-input me-2" type="radio"
                                               name="promote" th:value="1"/>Yes
                                        <input th:field="*{promote}" class="form-check-input me-2" type="radio"
                                               name="promote" th:value="0" checked/>No
                                    </th:block>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Update
                                    </button>
                                    <button type="reset"
                                            class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">
                                        Reset
                                    </button>
                                    <a th:href="@{/}">
                                        <button type="button"
                                                class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">
                                            Back List
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>