<app-navbar></app-navbar>
<div class="row">
  <div class="col-2">
    <ul> Exercise
      <li><app-calculator></app-calculator></li>
      <li><app-pick-color></app-pick-color></li>
      <li><app-hackernews></app-hackernews></li>
      <li><app-pet></app-pet></li>
      <li><app-rating-config value="{{this.current}}" (changeValueInInput)="changeValue($event)" ></app-rating-config></li>
      <li><app-countdown></app-countdown></li>
      <li><app-ex-react-form></app-ex-react-form></li>
    </ul>
  </div>
  <div class="col-8"  style="text-align: center">
    Body
  </div>
  <div class="col-2">
    <ul> Practice
      <li><app-card name="Tuan Lee" img="/assets/avatar/date.png"></app-card></li>
    </ul>
  </div>
</div>




<app-footer></app-footer>
