<!--<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Delete Modal</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <td class="modal-body" *ngIf="produce != undefined">-->
<!--        {{produce.id}} {{produce.name}} {{produce.rating}} {{produce.status}}-->
<!--      </td>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div *ngIf="produce != undefined">
  <p class="modal-body"  >
    Delete This?
    {{produce.id}} {{produce.name}} {{produce.rating}} {{produce.status}}
  </p>
  <button class="btn btn-danger" (click)="deleteThis(produce.id)">Delete</button>
  <button class="btn btn-info" routerLink="/app-produces">Back List</button>
</div>
