<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#petModal">
  Pet Modal
</button>

<!-- Modal -->
<div class="modal fade" id="petModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pet Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <td class="modal-body">
        <table class="table table-striped-columns">
          <tr>
            <td>No</td>
            <td>Name</td>
            <td>Age</td>
            <td>Gender</td>

          </tr>
          <tr *ngFor="let pet of petList; let count = index">
            <td>{{count + 1}}</td>
            <td>{{pet.name | titlecase}}</td>
            <td [style.color]="pet.age >= 7 ? 'red' : pet.age >= 4 ?'green' : 'black' " >{{pet.age}}</td>
            <td *ngIf="pet.gender == 0;then content else other_content"> </td>
            <ng-template #content>
              Male
            </ng-template>
            <ng-template #other_content>
              Female
            </ng-template>
            <td [ngClass]="pet.status == 'Die' ? 'die' : '' ">
              {{pet.status}}
            </td>
          </tr>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
  </div>
</div>
