<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#countdownModal">
  Countdown
</button>

<!--modal-->
<div class="modal fade" id="countdownModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Countdown Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="margin: auto">
        <button class="btn btn-success" (click)="startTime()">Start</button>
        <button class="btn btn-warning" (click)="pauseTime()">Pause</button>
        <button class="btn btn-danger" (click)="resetTime()">Reset</button>
        <p>Time is {{timeOut === undefined? 'N/A' : timeOut}} s</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
