<div class="row">
  <div class="col-8">
    <form [formGroup]="formSearch" (ngSubmit)="search()">
      <div class="input-group">
        <div class="form-outline">
          <input class="form-control" id="form1" type="text" formControlName="name_search" placeholder="Name search">
        </div>
        <div class="form-outline">
          <input class="form-control" id="form2" type="text" formControlName="email_search" placeholder="Email search">
        </div>
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-info" routerLink="/employee/create"><i class="fa-solid fa-plus"></i></button>

  </div>
  <div class="col-2">
    <button class="btn btn-outline-dark" (click)="findAllByName('','')"><i class="fa-solid fa-arrows-rotate"></i>
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <td>No.</td>
  <td>Name</td>
  <td>Day Of Birth</td>
  <td>Id Card</td>
  <td>Salary</td>
  <td>Phone</td>
  <td>Email</td>
  <td>Address</td>
  <td>Position</td>
  <td>Division</td>
  <td>Education</td>
  <td>Action</td>
  </thead>
  <tbody>
  <tr *ngFor="let item of list | slice: (page-1) * pageSize : page * pageSize, let i = index">
    <td>{{i + 1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.dayOfBirth|date:"dd/MM/yyyy"}}</td>
    <td>{{item.id_card}}</td>
    <td>{{item.salary|currency:  'GBP':"symbol"}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.email}}</td>
    <td>{{item.address | slice: 0: 10}} ...</td>
    <td>{{item.position.name}}</td>
    <td>{{item.division.name}}</td>
    <td>{{item.education.name}}</td>
    <td>
      <button [routerLink]="['/employee/edit',item.id]" type="button" class="btn btn-warning"><i
        class="fa-regular fa-pen-to-square"></i></button>

      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmployee"
              (click)="deleteIt(item)"><i class="fa-solid fa-trash"></i></button>
    </td>
  </tr>

  </tbody>

</table>
<ngb-pagination
  [collectionSize]="list.length"
  [pageSize]="pageSize"
  [(page)]="page"
  [boundaryLinks]="true">
</ngb-pagination>

<div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete this  {{employeeDelete.name}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteThisItem(employeeDelete)">Delete</button>
      </div>
    </div>
  </div>
</div>

