<html xmlns:th="http://www.thymeleaf.org" lang="eu">

<head>
    <meta charset="UTF-8">
    <title>Produce</title>
</head>
<body>
<form method="get" action="/search_name">
    <label>
        <input type="text" name="name_search" placeholder="Name search">
    </label>
    <button type="submit">Search</button>
</form>
<form method="get" action="/">
    <button type="submit">Refresh</button>
</form>
<form method="get" action="/create">
    <button type="submit">Create</button>
</form>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<table>
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price.</th>
        <th>Other</th>
        <th>Manufacturer</th>
        <th>Action</th>
    </tr>
    <tr th:each="item, state : ${list}">
        <td th:text="${state.count}"></td>
        <td th:text="${item.getValue().getId()}"></td>
        <td th:text="${item.getValue().getName()}"></td>
        <td th:text="${item.getValue().getPrice()}"></td>
        <td th:text="${item.getValue().getOther()}"></td>
        <td th:text="${item.getValue().getManufacturer()}"></td>
        <td><a th:href="@{/edit/{id}(id=${item.getValue().getId()})}">edit</a>
            <a th:href="@{/delete/{id}(id=${item.getValue().getId()})}">delete</a>
        </td>
    </tr>
</table>
</body>
</html>